* {
    font-family: 'Source Sans Pro';
}

.d-f {
    display: -ms-flexbox !important;
    display: flex !important
}

.jc-c {
    -ms-flex-pack: center !important;
    justify-content: center !important
}

.jc-b {
    -ms-flex-pack: justify !important;
    justify-content: space-between !important
}

.ai-c {
    -ms-flex-align: center !important;
    align-items: center !important
}

.f-c {
    -ms-flex-direction: column !important;
    flex-direction: column !important
}

.f-w {
    -ms-flex-wrap: wrap !important;
    flex-wrap: wrap !important
}

.contain {
    width: 100%;
    background: #f8f8f8;
}

body {
    margin: 0;
    padding: 80px 0 0 0;
    background: #f8f8f8;
}

a,
p {
    text-decoration: none;
    color: #242424;
    border-style: none;
}

.who p {
    font-size: 16px;
    text-align: left;
    line-height: 24px;
    letter-spacing: 0.02px;
    color: #505050;
}

.wh1 p {
    font-size: 16px;
    text-align: left;
    line-height: 24px;
    letter-spacing: 0.02px;
    color: #242424;
}

.wh2 p {
    font-size: 16px;
    text-align: left;
    line-height: 25px;
    letter-spacing: 0.02px;
    color: #505050;
}

.menu a:hover,
.menu p:hover {
    color: #ffce30;
    text-decoration: none;
}

.logo {
    padding: 11px 0 17px 50px;
}

.splide1 img {
    width: 100%;
    height: auto;
}

.splide1 .splide__pagination__page {
    opacity: 1.0 !important;
}

.slidah {
    position: absolute;
    top: 35.5%;
    left: 6.5%;
}

.m-w725 {
    max-width: 725px;
    line-height: 72px;
}

.slidetext {
    font-size: 60px;
    color: #ffffff;
    letter-spacing: 0.3px;
    line-height: 1.2;
    font-weight: bold;
    text-transform: uppercase;
}

.slidebox {
    position: absolute;
    width: 160px;
    height: 46px;
    background-color: #ffce30;
    top: 60%;
    left: 6.1%;
}

.boxtext {
    text-align: center;
    padding-top: 10px;
    font-weight: bold;
    text-transform: uppercase;
}

.slidebox:hover {
    background-color: #242424;
    color: #ffce30;
}

.hamburger {
    position: relative;
    width: 50px;
    height: 50px;
    display: none;
    margin-right: 20px;
}

.line {
    width: 100%;
    height: 5px;
    background: #111;
    position: absolute;
    top: 5px;
    transition: transform .5s ease;
    z-index: 2;
}

.line:nth-child(2) {
    top: 18px;
    z-index: 2;
}

.line:nth-child(3) {
    top: 32px;
    z-index: 2;
}

.menu svg path {
    fill: #111;
}

.menu a:hover svg path {
    fill: #ffce30;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    background: #FFF;
    color: #101010;
    margin: 0;
    padding: 0;
    line-height: 1.5;
}

a {
    text-decoration: none;
    color: #101010;
    transition: color .3s ease;
}

p {
    margin: 0;
    line-height: 1.8;
    font-weight: 500;
}

p+p {
    margin-top: 28px;
}

input,
textarea,
select {
    border: 1px solid #d8d8d8;
    padding: 8px 15px;
    height: 48px;
    width: 100%;
    background-color: #f8f8f8;
}

input {
    border: 0;
    border-bottom: 1px solid #707070;
}

textarea {
    height: auto;
}

label {
    margin-bottom: 10px;
    display: block;
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}

.item {
    width: 100%;
}

.btn {
    font-size: 16px;
    font-weight: bold;
    padding: 18px 30px;
    color: #FFF;
    background: #101010;
    border: solid 2px #333333;
    position: relative;
    display: inline-block;
}

.btn:focus,
.btn:active,
.btn:hover {
    background: #005696;
    color: #FFF;
}

header .container {
    height: 80px;
    background-color: #ffffff;
    width: 100%;
}

.mnurl {
    margin: 0 20px;
}

.iconr {
    margin-left: 19.6px;
}

.iconl {
    margin: 0 50.7px 0 19.7px;
}

.f-w-b {
    font-weight: bold;
}

header {
    position: fixed;
    z-index: 99;
    top: 0;
    left: 0;
    right: 0;
}

.slidep {
    padding-top: 1px;
    color: #f8f8f8;
    font-size: 20px;
    max-width: 663px;
}

.who {
    background: #ffffff;
    padding-bottom: 214px;
}

.who .servicetxt {
    text-align: center;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 0.02x;
    color: #000000;
    max-width: 692px;
    display: block;
    margin: 0 auto;
    padding-top: 2px;
}

.servicebg span,
.who span {
    display: block;
    margin: 0 auto;
    text-align: center;
    padding-top: 102px;
    text-transform: uppercase;
    font-weight: bold;
}

.servicehead {
    letter-spacing: 0.05px;
    line-height: 60px;
    font-size: 50px;
    font-weight: bold;
}

.servicetxt {
    text-align: center;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 0.02x;
    color: #505050;
    max-width: 590px;
    display: block;
    margin: 0 auto;
    padding-top: 2px;
}

.servicebg {
    padding-bottom: 120px;
}

.foffer {
    width: 160px;
    background: #242424;
    display: block;
    margin: 60px auto 0 auto;
    text-align: center;
    padding: 13px 0px 11px 0px;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02px;
    color: #ffffff;
    font-weight: bold;
    text-transform: uppercase;
}

.foffer:hover {
    background: #ffffff;
    color: #242424;
    text-decoration: none;
}

.digger {
    border: 4px solid #ffce30;
}

.padtp {
    padding-top: 67px;
}

.padtp2 {
    padding-top: 57px;
    margin-bottom: 97px;
}

.box1,
.box2 {
    width: 350px;
    height: 280px;
    background: #ffffff;
    margin-left: 30px;
}

.boxsvg1 {
    margin: 45px auto 30.9px auto;
    display: block;
}

.boxsvg2 {
    margin: 25.3px auto 30.3px auto;
    display: block;
}

.boxsvg3 {
    margin: 25px auto 30px auto;
    display: block;
}

.boxsvg4 {
    margin: 25.3px auto 30.1px auto;
    display: block;
}

.box1 {
    margin-bottom: 30px;
}

.boxtxt {
    text-transform: uppercase;
    font-size: 20px;
    text-align: center;
}

.boxp {
    font-size: 16px;
    text-align: center;
    line-height: 25px;
    letter-spacing: 0.02px;
    color: #505050;
    max-width: 280px;
    margin: 17px 35px 28px 35px;
}

.containerboxes {
    max-width: 800px;
}

.box {
    position: relative;
    top: 0;
    transition: top ease 0.5s;
}

.box:hover {
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.15);
    top: -10px;
}

.tech {
    height: 296px;
    width: 250px;
    margin-right: 39px;
    margin-top: 30px;
}

.icons {
    display: block;
    margin: 0 auto;
}

footer {
    width: 100%;
    height: 201px;
    background-color: #242424;
    color: #898989;
    text-align: left;
    margin-top: 140px;
    padding-top: 30px;
    position: relative;
}

div.btxt {
    text-align: left;
}

div.text {
    text-align: center;
    color: #242424;
    letter-spacing: 0.05px;
    line-height: 1.2;
    font-size: 50px;
    text-transform: uppercase;
    padding-top: 104px;
}

.mtp {
    margin-top: 47px;
}

svg.mb {
    margin-bottom: 41.4px;
}

svg.mb2 {
    margin-bottom: 38.45px;
}

svg.mb3 {
    margin-bottom: 36.37px;
}

svg.mb4 {
    margin-bottom: 41.47px;
}

.hg {
    height: 48px;
}

.india {
    position: absolute;
    left: 20.4%;
    bottom: 0%;
}

.button {
    width: 160px;
    height: 46px;
    background: #242424;
    padding: 13px 46px 11px 47px;
    color: #ffffff;
    text-align: left;
    font: 16px;
    text-transform: uppercase;
    position: absolute;
    left: 70.6%;
    bottom: 21.3%;
    right: 21.1%;
}

.button:hover {
    background-color: #ffffff;
    color: #242424;
    border: 1px solid #242424;
    padding: 12px 45px 10px 46px;
}

.mw {
    max-width: 1200px;
    margin-top: 97px;
}

.textboxing {
    font-size: 16px;
    text-align: left;
    line-height: 25px;
    letter-spacing: 0.02px;
    color: #ffffff;
    left: 31%;
    width: 322px;
    height: 22px;
    position: absolute;
}

.textboxing p+p {
    margin-top: 1px;
}

.pasek {
    position: relative;
    height: 80px;
    background-color: #ffce30;
    width: 100%;
}

.bottom {
    height: 80px;
    width: 100%;
    background-color: #ffce30;
    position: relative;
}

.button {
    width: 160px;
    height: 46px;
    color: #ffffff;
    background-color: #242424;
    position: absolute;
    left: 70.6%;
    bottom: 25%;
}

.button:hover {
    color: #242424;
    background-color: #ffffff;
}

.india {
    position: absolute;
    bottom: 0;
    left: 20.4%;
}

.textbotton {
    position: absolute;
    left: 31%;
    font-size: 16px;
    text-align: left;
    line-height: 25px;
    letter-spacing: 0.02px;
    color: #ffffff;
    padding: 10px 0 1px 0;
}

span.textbotton2 {
    font-size: 20px;
    line-height: 24px;
    text-align: left;
    letter-spacing: 0.02px;
    color: #ffffff;
    position: absolute;
    left: 31%;
    padding-top: 39px;
    text-transform: uppercase;
}

.rb {
    width: 569.5px;
    height: 477px;
    background: #e30613;
    position: relative;
    border: 1px solid #707070;
    border-left: none;
}

.space {
    margin-bottom: 50px;
}

ul li.lii::before {
    content: "\2022";
    color: #ffce30;
    display: inline-block;
    width: 8;
    margin-left: -1em;
    padding-right: 10px;
}

li {
    font-size: 18px;
    color: #ffffff;
}

.ab {
    width: 267px;
    background: #ffffff;
    color: #242424;
    position: absolute;
    left: 2.7%;
    text-align: center;
    padding: 13px 24px 11px 24px;
    font-size: 16px;
    text-transform: uppercase;
}

.rozw {
    color: #ffffff;
    font-size: 18px;
    text-align: left;
    line-height: 25px;
    letter-spacing: 0.02;
    padding: 58px 0 0 30px;
    max-width: 445px;
}

.ofer {
    color: #ffffff;
    padding-left: 30px;
}

.no-outline:focus {
    outline: none;
}

.zdjwbox {
    width: 445px;
    height: 150px;
    background: #ffffff;
    margin: 62px 15px 0 15px;
    position: relative;
    top: 0;
    transition: top ease 0.5s;
}

.textwbox {
    font: 20px #242424;
    letter-spacing: 0.02px;
    text-align: center;
    vertical-align: middle;
}

.zdjwbox:hover {
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.15);
    top: -10px;
}

.padphoto {
    padding: 33px 39.6px 32.3px 56px;
}

.contactbox {
    width: 539.5px;
    height: 340px;
    margin-top: 100px;
}

.formula {
    position: relative;
    margin: 30px 0;
}

.labeltext {
    position: absolute;
    top: 17.5px;
    transition: .3s ease;
    pointer-events: none;
}

.click:focus {
    outline: 0;
}

.click:focus+.labeltext {
    top: -10px;
    font-size: 14px;
    transition: .2s ease;
    color: #ffce30;
}

.mwcontact {
    max-width: 404px;
}

.maxwidth {
    max-width: 1140px;
    margin: 0 auto;
}

.galeriazdj {
    position: relative;
    margin: 0;
    opacity: 1;
    margin: 15px;
    height: auto;
    transition: .3s ease;
    backface-visibility: hidden;
    z-index: 15;
    display: block;
}

.galeriazdj::before {
    content: "";
    display: block;
    width: 100%;
    height: 455px;
    position: absolute;
    top: -0.4%;
    left: 0;
    background: #ffce30;
    opacity: 0;
    transition: opacity .3s ease;
    transform: scale(0.96);
}

.galeriazdj:hover::before {
    opacity: 0.7;
}

.galeriazdjtxt {
    max-width: 162px;
    color: #242424;
    position: absolute;
    top: 49%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    opacity: 0;
    transition: .3s ease;
}

.galeriazdj:hover .galeriazdjtxt {
    opacity: 1;
    transition: .3s ease;
}

.galeriazdjtxt h2 {
    font-size: 20px;
    font-weight: bold;
    margin: 0;
}

.galeriazdjtxt p {
    font-weight: bold;
    margin: 7px 0 28px 0;
}

.galeriazdjrec {
    width: 160px;
    height: 46px;
    background: #242424;
    padding: 13px 18px 11px;
}

.galeriazdjrec a {
    font-weight: bold;
    color: #ffffff;
    text-align: left;
    text-decoration: none;
}

.trzyma {
    width: 100%;
    height: auto;
    margin: 0 auto;
    max-width: 1920px;
}

.tab {
    display: inline-block;
    padding: 0.75rem;
    color: #898989;
    border-top: 6px solid #eaeaea;
    margin: 0;
    font-size: 16px;
    text-align: center;
    max-width: 119px;
    text-transform: uppercase;
    border-top-width: 100%;
}

.selected {
    color: #242424;
    font-weight: bold;
    border-top: 5.6px solid #ffce30;
}

.tab-panel {
    min-height: auto;
    max-width: 100%;
    padding: 1rem;
}

.hidden {
    display: none;
}

.odziel {
    margin: 83.7px auto 0 auto;
    padding: 15px;
}

.bloczek {
    background-color: #242424;
    width: 100%;
    height: 450px;
    position: absolute;
    bottom: -150px;
}

.holder {
    position: relative;
    margin-bottom: 100px;
}

.mgauto {
    margin: 0 auto;
    padding: 0 15px;
}

.butsend {
    text-transform: uppercase;
    color: #ffffff;
    width: 160px;
    height: 46px;
    background: #ffce30;
    padding: 13px 54px 11px 54px;
}

hr.bottomline {
    margin: 113.7px 21.2% 0;
    border: solid 1px #eaeaea;
    background: #eaeaea;
}

footer a,
footer p {
    font: 16px;
    line-height: 22px;
    color: #898989;
    padding: 22.5px;
}

footer p {
    padding: 24px;
    position: absolute;
    left: 22.9%;
    bottom: 0px;
    text-align: center;
}

.ta-c {
    text-align: center;
}

ul.padding li {
    padding: 10px 0;
}

.tt-u {
    text-transform: uppercase;
}

.smalltext {
    font-size: 16px;
    text-align: left;
    line-height: 24px;
    letter-spacing: 0.02px;
}

.bigtext {
    font-size: 20px;
    text-align: left;
    line-height: 24px;
    letter-spacing: 0.02px;
}

.sosnowa {
    max-width: 120px;
    margin-right: 150px;
}

.godzotw {
    max-width: 130px;
}

.bigtext .smalltext {
    padding: 7px;
}

.firstrow {
    padding-top: 37px;
}

.imgborder {
    border: 4px solid #ffce30;
}

.email {
    margin: 22px 0;
}

.fejs {
    padding: 0;
}

.splide1 .splide__arrows {
    display: none !important;
}

.splide1 .splide__pagination__page.is-active {
    background: #ffce30 !important;
}

.splide2 {
    width: 726px;
    height: 453px;
    margin-top: 57px;
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.1);
}

.splide2 .splide__arrow {
    width: 160px;
    height: 46px;
    background: #242424;
    border-radius: 0;
    opacity: 1;
}

.splide2 .splide__arrow svg {
    fill: #ffffff !important;
    margin: 0 5.5px;
}

.splide2 .splide__arrow p {
    font-size: 16px;
    color: #ffffff;
    font-weight: bold;
}

.splide2 .splide__arrow--next:disabled {
    background: #eaeaea;
}

.splide2 .splide__arrow--prev:disabled {
    background: #eaeaea;
}

.splide2 .splide__arrow--prev {
    left: 0%;
    top: 95%;
}

.splide2 .splide__arrow--next {
    right: 0%;
    top: 95%;
}

.references {
    width: 726px;
    height: 453px;
    position: relative;
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.1);
    background: #f8f8f8;
    margin: 0 auto;
    text-align: center;
}

.references p,
.references h2,
.references h3,
.references h4 {
    bottom: 0;
    position: absolute;
    text-align: center;
}

.references p,
.references h2,
.references h4 {
    color: #858585;
}

.references h4 {
    font-size: 200px;
    font-weight: 300;
    left: 45.2%;
    top: 6.4%;
    transform: rotate(-180deg);
    letter-spacing: 0.02px;
}

.references h3 {
    font-size: 16px;
    font-weight: normal;
    color: #505050;
    max-width: 372px;
    left: 24.4%;
    bottom: 39.1%;
}

.references h2 {
    font-size: 16px;
    font-weight: normal;
    left: 43.7%;
    bottom: 23.8%
}

.references p {
    font-size: 12px;
    font-weight: 300;
    left: 45.7%;
    bottom: 18.8%;
}

.splide2 {
    margin: 57px auto 0;
}

.splide2 .splide__pagination {
    display: none;
}

.my-slider-progress {
    background: #ccc;
}

.my-slider-progress-bar {
    background: #ffce30;
    height: 7px;
    transition: width 400ms ease;
    width: 0;
    margin-top: 55.5px;
}

.pierwszy {
    max-width: 540px;
    height: auto;
    margin-left: 30px;
}

.drugi {
    float: left;
    margin-top: 56px;
}

.posrel {
    position: relative;
}

@media(max-width:1442px) {
    .m-w725 {
        max-width: 500px;
        line-height: 100%;
    }
    .slidetext {
        font-size: 45px;
    }
    .slidep {
        padding-top: 1px;
        font-size: 17px;
    }
    .slidebox {
        width: 180px;
        height: 50px;
        text-align: center;
        font-size: 20px;
        margin-top: 0;
    }
    .boxtext {
        text-align: center;
        padding-top: 10px;
        font-weight: bold;
        text-transform: uppercase;
    }
}

@media(max-width:1200px) {
    .mw {
        max-width: 600px;
    }
    .pasek {
        width: 100%;
        margin: 0 auto;
    }
    .india {
        position: relative;
        bottom: 0;
        left: 0%;
        margin: 0 auto;
        display: block;
    }
    .bottom {
        height: auto;
        padding: 50px 0 50px 0;
    }
    .button {
        position: relative;
        left: 0;
        bottom: 0%;
        margin: 0 auto;
        display: block;
        padding-bottom: 20px;
        margin-top: 20px;
    }
    .textbotton {
        position: relative;
        bottom: 0;
        left: 0;
        text-align: center;
    }
    span.textbotton2 {
        text-align: center;
        position: relative;
        padding-top: 10px;
        left: 0;
        margin: 0 auto;
        display: block;
    }
    footer p {
        position: relative;
        left: 0;
        bottom: 0;
        text-align: center;
    }
}

@media(max-width:1150px) {
    .containerboxes {
        margin-top: 57px;
    }
}

@media(max-width:1112px) {
    .box2 {
        margin-bottom: 30px;
    }
    .padtp2 img {
        margin-bottom: 30px;
    }
}

@media(max-width:1026px) {
    .m-w725 {
        max-width: 320px;
        line-height: 100%;
    }
    .slidetext {
        font-size: 32px;
    }
    .slidep {
        padding-top: 1px;
        font-size: 13px;
    }
    .slidebox {
        width: 120px;
        height: 30px;
        text-align: center;
        font-size: 10px;
        margin-top: 0;
    }
    .boxtext {
        text-align: center;
        padding: 5px 24px;
        font-weight: bold;
        text-transform: uppercase;
    }
    .splide1 {
        margin-top: 80px;
    }
}

@media (max-width: 768px) {
    .hamburger {
        display: block;
    }
    .menu {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        background: #ffffff;
        width: 50vw;
        transform: translateX(100%);
        transition: transform .5s ease;
        z-index: 2;
        border: 5px solid #ffce30;
    }
    .menu.open {
        transform: translateX(0%);
    }
    .hamburger.open .line:nth-child(1) {
        transform: rotate(45deg);
        top: 17px;
        z-index: 2;
    }
    .hamburger.open .line:nth-child(2) {
        opacity: 0;
        z-index: 2;
    }
    .hamburger.open .line:nth-child(3) {
        transform: rotate(-45deg);
        top: 17px;
        z-index: 2;
    }
    .iconr,
    .iconl {
        margin: unset;
    }
    .menu a {
        margin-top: 10px;
    }
    .m-w725 {
        max-width: 250px;
        line-height: 22px;
    }
    .slidetext {
        font-size: 24px;
    }
    .slidep {
        padding-top: 1px;
        font-size: 12px;
        max-width: 300px;
    }
    .slidebox {
        width: 80px;
        height: 20px;
        text-align: center;
        font-size: 9px;
        margin-top: 4%;
    }
    .boxtext {
        text-align: center;
        padding: 4px 0 0 0;
        font-weight: bold;
        text-transform: uppercase;
    }
    .padtp {
        flex-direction: column;
    }
    .containerboxes {
        max-width: 415px;
        margin-top: 67px;
    }
    .splide2 .splide__arrow--prev {
        left: 0;
        top: 95%;
    }
    .splide2 .splide__arrow--next {
        right: 0;
        top: 95%;
    }
    footer {
        height: auto;
    }
}

@media (min-width:768px) {
    .f-md-r {
        -ms-flex-direction: row !important;
        flex-direction: row !important
    }
    .f-md-c {
        -ms-flex-direction: column !important;
        flex-direction: column !important
    }
    .f-md-rr {
        -ms-flex-direction: row-reverse !important;
        flex-direction: row-reverse !important
    }
    .f-md-cr {
        -ms-flex-direction: column-reverse !important;
        flex-direction: column-reverse !important
    }
    .f-md-w {
        -ms-flex-wrap: wrap !important;
        flex-wrap: wrap !important
    }
    .f-md-nw {
        -ms-flex-wrap: nowrap !important;
        flex-wrap: nowrap !important
    }
    .f-md-wr {
        -ms-flex-wrap: wrap-reverse !important;
        flex-wrap: wrap-reverse !important
    }
    .f-md-f {
        -ms-flex: 1 1 auto !important;
        flex: 1 1 auto !important
    }
    .f-md-g-1 {
        -ms-flex-positive: 1 !important;
        flex-grow: 1 !important
    }
    .jc-md-s {
        -ms-flex-pack: start !important;
        justify-content: flex-start !important
    }
    .jc-md-e {
        -ms-flex-pack: end !important;
        justify-content: flex-end !important
    }
    .jc-md-c {
        -ms-flex-pack: center !important;
        justify-content: center !important
    }
    .jc-md-b {
        -ms-flex-pack: justify !important;
        justify-content: space-between !important
    }
    .jc-md-a {
        -ms-flex-pack: distribute !important;
        justify-content: space-around !important
    }
    .ai-md-s {
        -ms-flex-align: start !important;
        align-items: flex-start !important
    }
    .ai-md-e {
        -ms-flex-align: end !important;
        align-items: flex-end !important
    }
    .ai-md-c {
        -ms-flex-align: center !important;
        align-items: center !important
    }
    .ai-md-ba {
        -ms-flex-align: baseline !important;
        align-items: baseline !important
    }
    .ai-md-st {
        -ms-flex-align: stretch !important;
        align-items: stretch !important
    }
    .ac-md-s {
        -ms-flex-line-pack: start !important;
        align-content: flex-start !important
    }
    .ac-md-e {
        -ms-flex-line-pack: end !important;
        align-content: flex-end !important
    }
    .ac-md-c {
        -ms-flex-line-pack: center !important;
        align-content: center !important
    }
    .ac-md-b {
        -ms-flex-line-pack: justify !important;
        align-content: space-between !important
    }
    .ac-md-a {
        -ms-flex-line-pack: distribute !important;
        align-content: space-around !important
    }
    .ac-md-st {
        -ms-flex-line-pack: stretch !important;
        align-content: stretch !important
    }
    .as-md-auto {
        -ms-flex-item-align: auto !important;
        align-self: auto !important
    }
    .as-md-s {
        -ms-flex-item-align: start !important;
        align-self: flex-start !important
    }
    .as-md-e {
        -ms-flex-item-align: end !important;
        align-self: flex-end !important
    }
    .as-md-c {
        -ms-flex-item-align: center !important;
        align-self: center !important
    }
    .as-md-ba {
        -ms-flex-item-align: baseline !important;
        align-self: baseline !important
    }
    .as-md-st {
        -ms-flex-item-align: stretch !important;
        align-self: stretch !important
    }
}

@media(max-width:475px) {
    .sosnowa {
        margin-bottom: 22px;
    }
}

@media(max-width:425px) {
    .m-w725 {
        max-width: 150px;
        line-height: 100%;
    }
    .slidetext {
        font-size: 13px;
    }
    .slidep {
        padding-top: 1px;
        font-size: 5px;
    }
    .slidebox {
        width: 80px;
        height: 20px;
        text-align: center;
        font-size: 10px;
        margin-top: 0;
    }
    .boxtext {
        text-align: center;
        padding: 3px 0px;
        font-weight: bold;
        text-transform: uppercase;
    }
    div.text {
        font-size: 25px;
    }
    .box1,
    .box2 {
        margin-left: auto;
        margin-right: auto;
        width: 300px;
        height: 300px;
    }
    .imgborder {
        margin-right: auto;
        margin-left: auto;
    }
    .rb {
        height: 500px;
    }
    .splide2 {
        width: 425px;
    }
    .references h4 {
        left: 25%;
    }
    .references h3 {
        left: 5%;
    }
    .references h2 {
        left: 22%;
    }
    .references p {
        left: 24%;
    }
}

@media(max-width:385px) {
    .zdjwbox {
        height: auto;
    }
}

@media(max-width:375px) {
    .m-w725 {
        max-width: 150px;
        line-height: 100%;
    }
    .slidetext {
        font-size: 13px;
    }
    .slidep {
        padding-top: 1px;
        font-size: 4px;
    }
    .slidebox {
        width: 60px;
        height: 15px;
        text-align: center;
        font-size: 5px;
        margin-top: 10px;
    }
    .boxtext {
        text-align: center;
        padding: 6px 7px;
        font-weight: bold;
        text-transform: uppercase;
    }
    .splide2 {
        width: 375px;
    }
    .references h4 {
        left: 21%;
    }
    .references h3 {
        left: 0%;
        padding: 0 15px;
    }
    .references h2 {
        left: 20%;
    }
    .references p {
        left: 21%;
    }
    .padphoto {
        padding: 33px 20px 32.3px 30px;
    }
}

@media(max-width:320px) {
    .m-w725 {
        max-width: 150px;
        line-height: 100%;
    }
    .slidetext {
        font-size: 13px;
    }
    .slidep {
        padding-top: 1px;
        font-size: 4px;
    }
    .slidebox {
        width: 50px;
        height: 10px;
        text-align: center;
        font-size: 5px;
        margin-top: 10px;
    }
    .boxtext {
        text-align: center;
        padding: 3px 7px;
        font-weight: bold;
        text-transform: uppercase;
    }
    .logo {
        padding: 0;
        margin-left: 2.6%;
    }
    .splide2 {
        width: 320px;
    }
    .references h4 {
        left: 18%;
    }
    .references h3 {
        left: 2%;
        padding: 0 15px;
        max-width: 300px;
    }
    .references h2 {
        left: 16%;
    }
    .references p {
        left: 18%;
    }
    .padphoto {
        padding: 33px 10px 32.3px 10px;
    }
}